header {
    background-color: #f8f8f8;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
}

/* Main navigation (Men, Women) */
.main-nav {
    display: flex;
    gap: 20px;
    align-items: center;
}

.main-nav a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    padding: 10px;
    font-weight: bold;
}

input[type="text"] {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 300px;
    background-color:darkgrey;
    font-weight: bold;
    
}

/* Profile navigation (Wishlist, Bag, Profile) */
.profile-nav {
    display: flex;
    align-items: center;
    gap: 20px; /* Space between Wishlist, Bag, and Profile */
}

.profile-nav a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: bold;
}

.profile-nav a img {
    width: 20px; /* Adjust the size of icons */
    height: 20px;
}

a:hover {
    font-size: 18px;
}

.super {
    color: red;
}

/* Flex container for navigation and profile */
.nav-profile-container {
    display: flex;
    align-items: center;
    gap: 40px; /* Space between main navigation and profile links */
}
.desc{
    width: 300px;
    height: 200px;
    border:#ccc;
    border-width: thick;
    position: relative;
    float: right;    
    top: 40px;
    right: 90px;
    background-color:gray;
    z-index: 100;
    padding-top: 50px;
    text-wrap:wrap;
    text-align: center;
}
.wel{
    padding: 50px;
}
.c{
    display: flex; 
    text-align: centre;
    justify-content: center;
}
.heading{ 
    text-align: centre;
    justify-content: center;
}
#checkBox{
     width: 100pc;

}
.img{
    display: flex;
}
